   Load a tab separated file with the first row containing column
    headers  (field names). The first column should be a Sequence Identifier,
     such as the ST for MLST data. Other columns should be the different
    loci used in the typing scheme.
    Example of a MLST dataset for <i>Streptococcus dysgalactiae subspecies
    equisimilis</i>.
<br />
<pre>
 ST      gki     gtr     murI    mutS    recP    xpt     yqiZ
 1       10      6       6       6       12      13      8
 2       5       4       4       1       2       15      2
 3       5       3       4       1       6       2       1
 4       2       2       4       1       8       7       2
 5       2       2       4       1       12      12      7
 6       1       3       1       1       1       1       4
 7       1       1       1       1       1       1       3
 8       1       1       1       1       1       1       4
</pre>
<br />
    This files should not contain missing data. If any allele missing data
    is found the entire line is discarded.